{% extends 'WebApp/base.html' %}

{% load static %}

{% block content %}

<div style="width: 75%; color: white; font-family: 'Raleway' ;margin:auto; text-align: center;">

    <div class="container p-3 my-3 border">
        <h2>Autenticación</h2>
        <br>
        {% if form.errors %}
        <p>Tu usuario y contraseña no coinciden. Intenta nuevamente</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Tu cuenta no tiene acceso a esta página. Para proceder, por favor logueate con una cuenta que tenga este acceso.</p>
        {% else %}
        <p>Por favor logueate para ver esta página</p>
        {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Iniciar sesión">           
        </form>
        <br>
        <br>
        <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
    </div>
</div>







{% endblock %}