{% extends 'WebApp/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div style="width: 50%; font-family: 'Raleway' ; margin:auto; margin-top: 20px; margin-bottom: 20px;">
    <div class="jumbotron" style="padding: 10%;">
        <h2 class="display-5">Autenticación</h2>
        <hr class="my-4">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">Tu usuario y contraseña no coinciden. Intenta nuevamente.</div>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Tu cuenta no tiene acceso a esta página. Para proceder, por favor logueate con una cuenta que tenga este acceso.</p>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Por favor <strong>inicia sesión</strong> para ver esta página
          </div>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form | crispy}}
            <br>
            <button type="submit" class="btn btn-success">Iniciar sesión</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <br>
        <br>
        <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
    </div>
</div>







{% endblock %}