{% extends 'WebApp/base.html' %}

{% load static %}

{% block js %}
<script src="{% static 'WebApp/js/validaRut.js' %}"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div style="width: 50%; font-family: 'Raleway' ; margin:auto; margin-top: 20px; margin-bottom: 20px;">
    <div class="jumbotron" style="padding: 2%;">
        <h2 class="display-5">Registro de pedidos</h2>
        <hr class="my-4">

        <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy}}

        <a href="{% url 'Home'%}"> Ir al Home</a> |
        <a href="{% url 'login'%}"> Iniciar Sesión</a>
        <button type="reset" class="btn btn-warning float-right">Limpiar</button>
        &nbsp;
        <button type="submit" class="btn btn-success float-right">Registrar</button>
        </form> 
        <br>
    </div>
</div>

{% endblock %}